<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="./styles/show.css">
</head>

<body>
  <main>
    <h2>Search Results</h2>
    <div id="card-container">
      <% searchResults.forEach( book => { %>
      <div class="book-card">
        <img src="<%= book.image_url %><" alt="<%= book.title %>">
        <h3><%= book.title %></h3>
        <span><%= book.authors %></span>
        <p><%= book.description %></p>
        <p>ISBN: <%= book.isbn %></p>
        <p>Bookshelf: <%= book.catagories%> </p>
        <% }) %>
      </div>
    </div>
  </main>
</body>

</html>