<div id="card-container">
    <% searchResults.forEach( book => { %>
    <div class="book-card">
        <img src="<%= book.image_url %><" alt="<%= book.title %>">
        <h3><%= book.title %></h3>
        <span><%= book.authors %></span>
        <p><%= book.description %></p>
    </div>
        <% }) %>
</div>